extends layout
block content
 p #{title}
 div
  table
   thead
    tr
     th ID
     th Name
      tbody
       each phone, i in phonebook
        tr
         td #{phone._id}
         td #{phone.name}
