extends layout
block content
 p #{title}
 div
  table
   thead
    tr
     th ID
     th Name
      tbody
       each user, i in users
        tr
         td #{user._id}
         td #{user.name.first+' '+user.name.last}
